* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #282c34;
  text-align: center;
}
.loading{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
}
.container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.form-container{
  min-width: 20rem;
  min-height: 10rem;
  background: #fff;
  border-radius: .5rem;
}
.welcome-title{
  color: #fff;
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-top: -7rem;
}
.steps-title{
  display: inline-block;
  margin-top: .5rem;
  margin-bottom: .3rem;
}
button{
  margin: 1rem auto 0;
  display: block;
  border-radius: .5rem;
  background-color: #3165c9;
  width: 5rem;
  height: 2rem;
  color: #fff;
  border: .0625rem solid rgba(0, 0, 0, .1);
  cursor: pointer;
}
