input {
    margin-top: .5rem;
    border: .0625rem solid rgba(0, 0, 0, .3);
    width: 15rem;
    height: 2rem;
    border-radius: .5rem;
    padding-left: .5rem;
}

input:focus {
    outline: none;
    border-radius: .5rem;
    border: .0625rem solid rgba(0, 0, 0, .5);
    padding-left: .5rem;
}

.suggestions {
    margin: 0 auto;
    border-radius: .5rem;
    border: .0625rem solid rgba(0, 0, 0, .3);
    list-style: none;
    overflow-y: auto;
    width: 15rem;
    min-height: 2rem;
    max-height: 10rem;
}

.suggestions li {
    padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
    background-color: #282c34;
    color: #fff;
    cursor: pointer;
}
.no-suggestions{
    margin-top: .8rem;
}
.suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
}